.Rproj.user
.Rhistory
.RData
.Ruserdata
Data/Coursera-SwiftKey/final/de_DE/de_DE.blogs.txt
Data/Coursera-SwiftKey/final/de_DE/de_DE.news.txt
Data/Coursera-SwiftKey/final/de_DE/de_DE.twitter.txt
Data/Coursera-SwiftKey/final/en_US/en_US.blogs.txt
Data/Coursera-SwiftKey/final/en_US/en_US.news.txt
Data/Coursera-SwiftKey/final/en_US/en_US.twitter.txt
Data/Coursera-SwiftKey/final/fi_FI/fi_FI.blogs.txt
Data/Coursera-SwiftKey/final/fi_FI/fi_FI.news.txt
Data/Coursera-SwiftKey/final/fi_FI/fi_FI.twitter.txt
Data/Coursera-SwiftKey/final/ru_RU/ru_RU.blogs.txt
Data/Coursera-SwiftKey/final/ru_RU/ru_RU.news.txt
Data/Coursera-SwiftKey/final/ru_RU/ru_RU.twitter.txt
New Microsoft Excel Worksheet.xlsx
Data/Coursera-SwiftKey.zip
Data/final/de_DE/de_DE.blogs.txt
Data/final/de_DE/de_DE.twitter.txt
Data/final/de_DE/de_DE.news.txt
Data/final/en_US/en_US.blogs.txt
Data/final/en_US/en_US.twitter.txt
Data/final/ru_RU/ru_RU.twitter.txt
Data/final/fi_FI/fi_FI.blogs.txt
Data/final/en_US/en_US.news.txt
Data/final/fi_FI/fi_FI.news.txt
Data/final/ru_RU/ru_RU.blogs.txt
Data/final/ru_RU/ru_RU.news.txt
Data/final/fi_FI/fi_FI.twitter.txt
